<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öffentliche Gebäude Erreichbarkeit-Analyse</title>
    <style>
        #map-container {
            width: 80%;
            height: 600px !important;  /* oder eine andere Höhe, je nach Bedarf */
            margin-left:auto;
            margin-right:auto;
        }

        #table-container {
            width: 80%;
            margin-left:auto;
            margin-right:auto;
        }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data-select').change(function() {
                var selectedData = $(this).val();  // Die ausgewählten Werte als Array
                $.ajax({
                    url: '/update_map',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'data': selectedData }),
                    dataType: 'json',
                    success: function(response) {
                        $('#map-container').html(response.map_html);
                        $('#map-container iframe').css({
                            'border': 'none', // Beispiel: Rahmen entfernen
                            'height': '600px' // Höhe einstellen
                            // Weitere CSS-Anpassungen hier
                        });
                    }
                });
                $.ajax({
                     url: '/update_table',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'data': selectedData }),
                    dataType: 'json',
                    success: function(response) {
                        $('#table-container').html(response.table_html);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Öffentliche Gebäude Erreichbarkeit-Analyse</h1>

    <select id="data-select" multiple>
        <option value="Schulen">Schulen</option>
        <option value="Krankenhäuser">Krankenhäuser</option>
    </select>
    
    <div id="map-container">
        <!-- Hier wird die Tabelle eingefügt -->
    </div>
    <br>
    <div id="table-container">
        <!-- Hier wird die Tabelle eingefügt -->
    </div>
</body>
</html>