<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öffentliche Gebäude Erreichbarkeit-Analyse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #map-container, #table-container {
            width: 80%;
            margin: auto;
            height: 600px; /* Nur für die Karte */
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data-select').change(function() {
                var selectedData = $(this).val();
                $.ajax({
                    url: '/update_map',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'data': selectedData }),
                    dataType: 'json',
                    success: function(response) {
                        $('#map-container').html(response.map_html);
                        $('#map-container iframe').css({
                            'border': 'none',
                            'height': '100%'
                        });
                    }
                });
                $.ajax({
                    url: '/update_table',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'data': selectedData }),
                    dataType: 'json',
                    success: function(response) {
                        $('#table-container').html(response.table_html);
                    }
                });
            });
        });
    </script>
</head>
<body class="bg-light">
    <div class="container py-5">
        <h1 class="mb-3">Öffentliche Gebäude Erreichbarkeit-Analyse</h1>
        <div class="row">
            <div class="col-12 mb-3">
                <select id="data-select" multiple class="form-select">
                    <option value="Schulen">Schulen</option>
                    <option value="Krankenhäuser">Krankenhäuser</option>
                </select>
            </div>
            <div class="col-12 mb-3">
                <div id="map-container" class="shadow-sm">
                    <!-- Hier wird die Karte eingefügt -->
                </div>
            </div>
            <br>
            <div class="col-12">
                <div id="table-container" class="shadow-sm">
                    <!-- Hier wird die Tabelle eingefügt -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
